{% extends 'app/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="row grid">
                <div class="grid-sizer col-md-4"></div>
                {% for produit in produits %}
                    <div class="{% if loop.index % 4 == 0 %} col-md-8 {% else %} col-md-4 {% endif %}grid-item mb-4">
                        <!-- Card -->
                            {% include 'app/_card-produit.html.twig' %}
                        <!-- Card -->
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3">
            <h3>Catégories</h3>
            <ul class="list-group">
            {% for categorie in categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ path('singleCategorie', {'id': categorie.id}) }}">{{ categorie.titre }}</a>
                    <span class="badge badge-primary badge-pill">{{ categorie.produits|length }}</span>
                </li>
            {% endfor %}
            </ul>
            <hr>
            <h3>Marques</h3>
            <ul class="list-group">
                {% for marque in marques %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{{ path('singleMarque', {'id': marque.id}) }}">{{ marque.name }}</a>
                        <span class="badge badge-primary badge-pill">{{ marque.produits|length }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('.grid').masonry({
                itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
                columnWidth: '.grid-sizer',
                percentPosition: true
            });
        });
    </script>
{% endblock %}
